name: Test Java

permissions: { }

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/**

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        example:
          - calculator-java8-junit-jupiter
          - calculator-java-cli
          - calculator-java-junit-4
          - calculator-java-junit-jupiter
          - calculator-java-testng
          - calculator-kotlin-junit-jupiter
          - spring-java-junit-jupiter

    name: '${{ matrix.example }}'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'
      - name: Maven Test
        run: mvn test
        working-directory: ${{ matrix.example }}
