name: Test Java

permissions: { }

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/**

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        example:
          - calculator-java8-junit-jupiter
          - calculator-java-cli
          - calculator-java-junit-4
          - calculator-java-junit-jupiter
          - calculator-java-testng
          - calculator-kotlin-junit-jupiter
          - spring-java-junit-jupiter

    name: '${{ matrix.example }}'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'
      - name: Maven Test
        run: mvn test
        working-directory: ${{ matrix.example }}
